<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
<body>
    <h1>SignUp Here</h1>
    Name:<input type="text">
    <br>
    Age:<input type="text">
    <br>
    <p>Gender</p>
    <form>
        <input type="radio" name="Gender" value='Male'>Male
        <input type="radio" name="Gender" valeu="Female">Female
    </form>
    <br>

    Email:<input type="Email">
    <br>
    Password:<input type="password">
    <br>
    <br>
    <button type="submit">SignUp</button>
   
</body>
</div>
</head>